// --- GENERAL ---
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

$baseColor: #543EA3;
$accentColor: #2A2754;
$backgroundColor: #FFFFFF;
$textColor: #3E4044;

body {
    background: url(../media/servers-alt-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// --- NAVBAR ---
.navbar {
    background-color: $backgroundColor;
    height: 80px;
}
.navbar a {
    color: $textColor;
    font-weight: 700;
}
.navbar-brand img {
    height: 50px;
}
@media (max-width: 991px) {
    .sidebar {
        background-color: rgba($backgroundColor, 0.8);
        backdrop-filter: blur(5px);
    }
    .nav-link {
        color: $backgroundColor;
    }
}

// --- MAIN ---
.mainHomeContainer {
    background-color: #FFFFFF;
    margin-top: 80vh;
    height: fit-content;
    color: $textColor;
}

// Por que contratar
.pqContratar h3 {
    font-weight: 700;
}
.razonesContratar p {
    margin: 15px;
    color: $textColor;
    font-weight: 400;
}

// Beneficios
.beneficios {
    background: $baseColor;
}
.beneficios h2 {
    font-size: 3rem;
}
.beneficios h3 {
    font-size: 1.5rem;
}

.card {
    background-color: $accentColor;
    height: 300px;
}
.card-body {
    color: #FFFFFF;
}
.card-img-top {
    height: 70px;
    width: 120px;
}
.card-title {
    font-weight: 700;
}

// --- FOOTER ---
footer {
    height: fit-content;
    background-color: $accentColor;
    color: $backgroundColor;
}

.footer-img img {
    height: 190px;
}

.footer-mid {
    display: block;
    margin: auto;
}

.footer-text {
    display: block;
    margin: auto;
}
.footer-links a {
    text-decoration: none;
    color: $backgroundColor;
}
.footer-links p {
    margin: 0 5px 0 5px;
}
.footer-social {
    font-size: 1.25rem;
}
.footer-social i {
    margin-left: 10px;
}

// --- SOLUCIONES ---
.titulo-soluciones {
    color: $backgroundColor;
    margin-bottom: 10vh;
}

.main-soluciones {
    background-color: $baseColor;
}
.soluciones-text {
    color: $backgroundColor;
}

// --- INFRAESTRUCTURA ---
.main-infraestructura {
    background-color: $backgroundColor;
}

.tecnologias {
    margin: 0 auto;
}
.tecnologias-text h3 {
    font-size: 1.5rem;
    font-weight: 700;
}
.tecnologias-text li {
    color: $baseColor;
}
.tecnologias-text li span {
    color: $textColor;
}

// --- EMPRESA ---
.empresa h1 {
    font-size: 4rem;
    font-weight: 700;
}
.empresa h2 {
    color: $baseColor;
}
.empresa p {
    font-size: 1.5rem;
}
.empresa h3 {
    font-size: 1.5rem;
}
.empresa li {
    font-size: 1.5rem;
}

// --- CONTACTO ---
.contacto h1 {
    font-size: 4rem;
    font-weight: 700;
    color: $baseColor;
}
.contacto h3 {
    font-size: 1.5rem;
    font-weight: 400;
}

.contacto a {
    font-size: 1.5rem;
}
.contacto span {
    font-size: 1.5rem;
    text-decoration: none;
    color: $textColor;
}
.contacto p {
    font-size: 1.2rem;
}

.container-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 75%;
}

  /* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}